@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

:root {
  --fontFamily: 'Inter', sans-serif;
  --borderRadius: 4px;
  --transition: all 0.3s ease-in-out;
  --maxWidthTotal: 1024px;
  --maxWidthTablet: 506px;
  --maxWidthNavTablet: 680px;
  --maxWidthNavDesktop: 1024px;
  --formMaxDesktop: 536px;
  --boxShadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  --colorPrimary: #ffb721;
  --colorLight: #fffdfa;
  --colorDark: #3d3c3b;
  --colorGreyLight: #e5e3dc;
  --colorSuccess: #558564;
  --colorDanger: #ad2831;
  --colorGreyDark: #52514f;
  --colorGreyMid: #cccac4;
  --colorPrimaryHover: #edaa1f;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--fontFamily);
  font-size: 18px;
  line-height: 1.5;
  background-color: var(--colorLight);
  color: var(--colorDark);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  outline: none;
}

img {
  width: 100%;
}

/* utilities */
.btn {
  display: block;
  text-align: center;
  width: 100%;
  padding: 0.75rem;
  border-radius: var(--borderRadius);
  cursor: pointer;
  transition: var(--transition);
  font-size: 1.1rem;
  font-family: var(--fontFamily);
}

.btn-primary {
  background: var(--colorPrimary);
  color: var(--colorDark);
}

.btn-primary:hover {
  background-color: var(--colorPrimaryHover);
}

.alert {
  text-align: center;
  padding: 0.75rem;
  border-radius: var(--borderRadius);
}

.alert-danger {
  background-color: var(--colorDanger);
  color: var(--colorLight);
}

.alert-success {
  background-color: var(--colorSuccess);
  color: var(--colorLight);
}

/* loader */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 8px solid var(--colorGreyMid);
  border-radius: 50%;
  border-top-color: var(--colorPrimary);
  animation: spinner 2s linear infinite;
}

.loading-center {
  margin: 0 auto;
}
